/*===== FLAG ======*/
.flag {
    padding: .75rem 1.25rem;
    background-color: #2E2C30;
    font: var(--text-flag);
    color: var(--content-brand);
    border-end-end-radius: 1rem;
}
.flag span {
    text-transform: uppercase;
}

/*===== AGENDA ======*/
.agend {
    padding-inline: 5rem;
    margin-bottom: 3rem;
}
.date-input-wrapper {
    position: relative;
    width: 183px;
}
input[type="date"],
input[type="date"]:focus {
    width: 183px;
    background-color: transparent;
    color: var(--content-secondary);
    font: var(--label-lg);
    font-weight: 500;
    padding: 12px 40px;
    cursor: pointer;
    border-color: var(--border-primary);
}
input[type="date"]:focus-within {
    border-color: var(--border-brand);
    box-shadow: 0 0 0 .25rem rgba(146,130,250,0.30);
}
input[type="date"]:hover {
    border-color: var(--border-secondary);
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="date"]::-moz-calendar-picker-indicator {
    display: none;
}
.date-input-wrapper img[src*="Calendar"]{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 2;
}
i.bi-chevron-down {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
}
.agend .row {
    margin-left: 0;
    margin-right: 0;
}

.row-schedule {
    background-color: var(--bg-tertiary);
    border-radius: .5rem;
}

.col-wrapper {
    padding: 12px 20px;
    border-bottom: 1px solid var(--border-divisor);
}

.agend .time {
    font: var(--label-lg);
    color: var(--content-secondary);
}

.scheduling {
    padding: 20px;
    font: var(--text-sm);
}
.scheduling .hours,
.scheduling .name span {
    color: var(--content-primary);
}
.scheduling .hours {
    font: var(--label-md); 
}
.scheduling .name span{
    font: var(--label-sm);
}
.scheduling .remove a {
    text-decoration: none;
    color: var(--content-tertiary);
    transition: all .3s;
}
.scheduling .remove a:hover {
    text-decoration: underline;
    color: var(--content-primary);
}




/* BUTTON NEW SCHEDULE */
#btn-new-schedule {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
#btn-new-schedule button {
    box-shadow: 0px 0px 32px 2px rgba(146,130,250,0.30);
    -webkit-box-shadow: 0px 0px 32px 2px rgba(146,130,250,0.30);
    -moz-box-shadow: 0px 0px 32px 2px rgba(146,130,250,0.30);
}


/* MODAL */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}
.modal-content {
    --bs-modal-bg: var(--bg-tertiary);
}
#modalSchedule .modal-header {
    flex-direction: column;
    align-items: start;
    padding: 2.5rem 2.5rem 1.75rem;
    border-bottom: none;
}
.modal-header p {
    font: var(--text-md);
    color: var(--content-secondary);
}
.modal-body {
    padding-inline: 2.5rem;
}
.modal-body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.modal-body::-webkit-scrollbar-track {
    background-color: var(--border-divisor);
    border-radius: 10px;
}
.modal-body::-webkit-scrollbar-thumb {
    background-color: var(--bg-highlights);
    border-radius: 10px;
    border: 3px solid var(--bg-tertiary);
}
.modal-body::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-brand);
}

#modalSchedule form label {
    font: var(--label-md);
    color: var(--content-primary);
}
#modalSchedule .input-group,
#modalSchedule .input-group-custom,
#modalSchedule form textarea,
#modalSchedule .select-wrapper {
    border: 2px solid var(--border-primary);
    border-radius: .5rem;
    transition: border-color 0.2s ease-in-out;
}
#modalSchedule .input-group:hover,
#modalSchedule .input-group-custom:hover,
#modalSchedule form textarea:hover,
#modalSchedule .select-wrapper:hover {
    border-color: var(--border-secondary);
}
#modalSchedule .input-group:focus-within,
#modalSchedule .input-group-custom:focus-within,
#modalSchedule form textarea:focus-within,
#modalSchedule .select-wrapper:focus-within {
    border-color: var(--border-brand);
    box-shadow: 0 0 0 .25rem rgba(146,130,250,0.30);
}
#modalSchedule form input,
#modalSchedule form select {
    padding: 0;
    border: none;
}
#modalSchedule form input,
#modalSchedule form textarea,
#modalSchedule form select {
    background-color: transparent;
    font: var(--label-lg);
    font-weight: 500;
    color: var(--content-secondary);
}
#modalSchedule form input:focus,
#modalSchedule form select:focus {
    box-shadow: none;
}

#modalSchedule .input-group-custom {
    position: relative;
}
#modalSchedule .input-group-custom .input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
#modalSchedule .input-group-custom .icon-left {
    left: 10px;
}
#modalSchedule .input-group-custom .icon-right {
    right: 10px;
    cursor: pointer;
}
#modalSchedule .input-group-custom input[type="date"] {
    flex-grow: 1;
    padding-left: 40px;
}
#modalSchedule form input::placeholder,
#modalSchedule form textarea::placeholder {
    color: var(--content-tertiary);
    opacity: 1;
    font-style: italic;
}
#modalSchedule .modal-footer {
    border-top: none;
}
#modalSchedule .modal-footer .btn-danger{
    --bs-btn-padding-x: 20px;
    --bs-btn-padding-y: 12px;
    font: var(--label-lg);
    text-transform: uppercase;
}
#confirmDeleteModal .modal-body {
    color: var(--content-primary);
}

@media (width <= 912px) {
    .agend {
        padding-inline: 0;
    }
    .col-lg-3.col-7 {
        padding-right: 0;
        padding-left: 0;
    }
    .date-input-wrapper {
        margin-top: 1rem;
    }
    i.bi-chevron-down {
        right: 13px;
    }
    .hours-name-group {
        align-items: center;
    }
    .scheduling ul li{
        flex-direction: column;
        gap: .5rem;
    }

    .modal-header {
        padding: 2.5rem 1.25rem 1.75rem;
    }
    .modal-body {
        padding-inline: 1.25rem;
    }
}



